.contentWrap .container form {
    display: flex;
    flex-direction: column;
}

.contentWrap .container form .textarea {
    max-height: 150px;
}

.contentWrap .container form .frontOfficeContainer {
    display: flex;
    align-items: center;
}

.contentWrap .container form .frontOfficeContainer label {
    padding-left: .7rem;
    margin: .5rem;

    font-weight: lighter;
    font-size: 1.4rem;
    color: var(--text-dark);
}


/* VIEW ASSISTANCE DATA */
