/* CREATE EQUIPMENT */
.container form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
}

.container form .dataContainer .buttonsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.smallBtn {
    width: 100%;

    font-size: 1.4rem;
}

.smallBtn:hover {
    width: 100%;
}

.submitContainer {
    height: 100px;
    display: block;
    padding-bottom: 2rem;
}

.submitContainer button {
    color: var(--text-light)
}


/* CREATE CATEGORY MODAL */
.createCategory {
    height: 200px;
    padding: 1rem 0;

    justify-content: unset;
}

/* FULL VIEW DATA*/ 

.viewData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px
}

.viewData .dataContainer {
    height: 100%;
}

.viewData .dataContainer .dataContent {
    color: var(--text-dark)
}

.viewData .dataContainer .dataContent h4 {
    font-size: 20px;
}

.softwareBtnsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
