body {
    display: grid;
    grid-template-columns: auto 1fr;
}

.contentWrap {
    width: 100%;
    height: 100;
}

.contentWrap h1 {
    color: var(--text-dark);   
}

.contentWrap .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrap .container form {
    height: 500px;
    padding: 2rem;

    display: unset;
}

.contentWrap .container form textarea {
    height: 100px;
    max-height: 150px;
}

.contentWrap .container form p {
    font-size: 1.4rem;
    color: var(--text-dark);
    padding-left: .7rem;
}

/* VIEW MALFUNCTION DATA */
.dataContainer {
    width: unset;
    min-width: 50vw;
}

.dataContainer h3 {
    margin-bottom: 1rem; 
}

.dataContainer .dataContent h4 {
    font-weight: bold;
    color: var(--text-dark);
}

.dataContainer .dataContent h4 span {
    font-weight: normal;
    font-size: 1.5rem;
}

.filterContainer {
    margin-top: 1rem;
}