.container form {
    grid-template-columns: 1fr 1fr;
}

.container form .inputsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container form .inputsContainer .btn {
    width: 200px;
    height: 30px;

    font-size: 1.4rem;
}

.createActionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}